@model SlotCardDM

<label class="slot-card @(Model.IsDisabled ? "disabled" : "") @(Model.IsManage ? "manage" : "")">
    <input  type="@(Model.IsManage ? "checkbox" : "radio")" 
            name="@(Model.IsManage ? "Slots" : "Slot")"
            value="@Model.Value" 
            @(Model.IsChecked ? "checked" : "")>
    <div>
        <div class="text">@Model.Text</div>
    </div>
</label>