@model StoreDetailsContainerDM

@{
    string ratingText = FormatHelper.ToRatingFormat(Model.Rating);
    string reviewText;

    if (Model.TotalReviews <= 0)
    {
        reviewText = "No Reviews";
    }
    else
    {
        reviewText = $"{FormatHelper.ToCompactNumber(Model.TotalReviews, 1)} review{(Model.TotalReviews > 1 ? "s" : "")}";
    }
}

<div class="container store-details-container">
    <img src="@Model.Image" alt="Store Profile">
    <div class="name">@Model.Name</div>
    <div class="slug">@Model.Slug</div>
    <div class="rating">
        <img src="/img/star.png" alt="Star">
        @ratingText
        <span>@reviewText</span>
    </div>
    <div class="venue">@Model.Venue</div>
    <div class="joined-at">@FormatHelper.GetRelativeTime(Model.JoinedAt)</div>

    @if (Model.ViewStoreButton)
    {
        <a href="@Url.Action("Info", "Store", new { Slug = Model.Slug })" data-button="info" class="view-store">View
            Store</a>
    }
</div>