@model StoreCard

<div class="store-card">
    <a href="@Model.Link"></a>

    <img src="@Model.Image" alt="Image">

    <div class="info">
        <div class="name">@Model.Name</div>
        <div class="rating">
            <img src="/img/star.png" alt="Star">
            @FormatService.ToRatingFormat(Model.Rating)
        </div>
        <div class="item" data-count="@Model.ItemCount">@Model.ItemCount</div>
    </div>

    @if (Model.DeleteLink != null)
    {
        <a class="delete" data-ajax="true" data-ajax-method="POST" data-ajax-failure="defaultOnFailure"
            data-ajax-success="reloadPage()" data-ajax-url="@Model.DeleteLink" data-ajax-confirm="@Model.DeleteMsg">
        </a>
    }
</div>