@model StoreDetailsContainerDM

@{
    string ratingText;
    string reviewText;

    if (Model.TotalReviews <= 0)
    {
        ratingText = "?";
        reviewText = "No Reviews";
    }
    else
    {
        ratingText = FormatService.ToRatingFormat(Model.Rating);
        reviewText = $"{FormatService.ToCompactNumber(Model.TotalReviews, 1)} review{(Model.TotalReviews > 1 ? "s" : "")}";
    }
}

<div class="container store-details-container">
    <img src="/uploads/store/@Model.Image" alt="Store Profile">
    <div class="name">@Model.Name</div>
    <div class="slug">@Model.Slug</div>
    <div class="rating">
        @if (Model.TotalReviews > 0)
        {
            <img src="/img/star.png" alt="Star">
        }
        @ratingText
        <span>@reviewText</span>
    </div>
    <div class="venue">@Model.Venue</div>
    <div class="joined-at">@FormatService.GetRelativeTime(Model.JoinedAt)</div>
    
    @if (Model.ViewStoreButton) {
        <a href="@Url.Action("Info", "Store", new { Slug = Model.Slug })" data-button="info" class="view-store">View Store</a>
    }
</div>