<header>
    <div class="wrapper">
        <a href="/" class="header-nav-link app-logo">
            <img src="/img/logo/normal.png" alt="SUPERCHEF">
            <img src="/img/logo/small.png" alt="S" class="small">
        </a>
    </div>

    <div class="wrapper">
        <a href="@Url.Action("Edit", "Store")" class="header-nav-link">
            <img src="/img/header_icon/settings.png" alt="Store Settings">
        </a>
        <a href="@Url.Action("Scan", "Store")" class="header-nav-link">
            <img src="/img/header_icon/scan.png" alt="QR Scanner">
        </a>
        <a href="@Url.Action("Report", "Store")" class="header-nav-link">
            <img src="/img/header_icon/sales.png" alt="Sales Report">
        </a>
        <a href="@Url.Action("Manage", "Item")" class="header-nav-link">
            <img src="/img/header_icon/item.png" alt="Items">
        </a>
        <a href="@Url.Action("MAnage", "Order")" class="header-nav-link">
            <img src="/img/header_icon/order.png" alt="Orders">
        </a>
        <button class="header-nav-link pfp">
            <img src="@ViewBag.AccountImageUrl" alt="Pfp">
            <div class="dropdown-menu">
                <a href="@Url.Action("Index", "Account")">Account</a>
                <a href="@Url.Action("Device", "Account")">Device</a>
                <div data-link id="logout-button">Logout</div>
            </div>
        </button>
    </div>
</header>