@model ManageItemVM

@{
    ViewBag.Title = "Manage Items | Superchef";
}

@section head {
    <style>
        [data-manage-container="table"] tbody tr td:nth-child(1) {
            grid-area: id;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(1)::before {
            content: "ID: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(2) {
            grid-area: name;
        }

        [data-manage-container="table"] tbody tr td:nth-child(3) {
            grid-area: slug;
        }

        [data-manage-container="table"] tbody tr td:nth-child(4) {
            grid-area: status;
        }

        [data-manage-container="table"] tbody tr td:nth-child(5) {
            grid-area: variants-count;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(5)::before {
            content: "Variants Count: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(6) {
            grid-area: category;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(6)::before {
            content: "Category: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(7) {
            grid-area: creation-date;
        }

        [data-manage-container="table"] tbody tr td:last-child {
            grid-area: action;
        }

        main.mobile [data-manage-container="table"] tbody tr {
            grid-template-areas:
                "name name"
                "slug slug"
                "category category"
                "creation-date creation-date"
                ". status"
                ". action"
                "variants-count action"
                "id action"
            ;
            grid-template-columns: 1fr auto;
        }
    </style>
}

<form data-ajax="true" data-ajax-update="#ajax-result-container" data-ajax-complete="closeOverlay('filter-overlay')"
    class="container" data-no="color padding">
    <input type="hidden" name="Page" value="1" data-clear-form-ignore>

    <div id="filter-overlay" class="overlay sidebar-overlay">
        <div class="content">
            <div class="header">
                <div class="title">Filter By</div>
                <div class="close"></div>
            </div>

            <div class="body">
                <div class="form-group">
                    <label>Status</label>
                    <div class="custom-tick-container center-text-container small-text rounded-border">
                        @foreach (var status in Model.AvailableStatuses)
                        {
                            <label>
                                <input type="radio" value="@status" asp-for="Status">
                                <div>
                                    <div class="text">@status</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var category in Model.AvailableCategories)
                        {
                            <label>
                                <input type="checkbox" name="Categories" value="@category.Id"
                                    @(Model.Categories.Contains(category.Id) ? "checked" : "")>
                                <div>
                                    <div class="text">@category.Name</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="MinVariantsCount"></label>
                    <div class="form-input">
                        <input asp-for="MinVariantsCount" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="MaxVariantsCount"></label>
                    <div class="form-input">
                        <input asp-for="MaxVariantsCount" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreationFrom"></label>
                    <div class="form-input">
                        <input asp-for="CreationFrom" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreationTo"></label>
                    <div class="form-input">
                        <input asp-for="CreationTo" />
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button type="button" data-button="accent" data-clear-form>Reset</button>
                <button type="submit" data-button>Apply</button>
            </div>
        </div>
    </div>

    <div class="container" data-manage-container="query">
        <div class="title">Manage Items - @ViewBag.StoreName</div>

        <div class="form-group">
            <div class="input-group search-container">
                <div class="form-input">
                    <input asp-for="Search" data-clear-form-ignore />
                    <button type="submit">
                        <img src="/img/search.png" alt="Search">
                    </button>
                </div>
                <div class="custom-select">
                    <select asp-for="SearchOption" asp-items="Model.AvailableSearchOptions"></select>
                </div>
                @if (ViewBag.AccountType == "Vendor")
                {
                    <a href="/Item/Add/@Model.Id" data-button="info">Add Item</a>
                }
                <button type="button" id="filter-button">
                    Filter
                    <img src="/img/filter.png">
                </button>
            </div>
        </div>
    </div>

    <div id="ajax-result-container">
        <partial name="_Manage" model="Model" />
    </div>
</form>