@model SearchVM

@section head {
    <style>
        .result-text {
            display: flex;
            align-items: flex-start;
        }

        .result-text img {
            margin-top: -1px;
            margin-right: 0.3rem;
            height: 1.2rem;
            flex-shrink: 0;
        }

        main form:has(input[name="Type"][value="Stores"]:checked) [data-form-group-store] {
            display: none !important;
        }

        main form:has(input[name="Type"][value="Items"]:checked) [data-form-group-item] {
            display: none !important;
        }
    </style>
}

<form asp-action="Index" method="get" data-ajax="true" data-ajax-update="#ajax-result-container"
    data-ajax-complete="closeOverlay('filter-overlay'); checkRedirect(xhr)" class="container" data-no="color padding"
    data-flex="between gap">
    <input type="hidden" name="Query" asp-for="Query" data-clear-form-ignore>

    <div id="filter-overlay" class="overlay sidebar-overlay">
        <div class="content">
            <div class="header">
                <div class="title">Filter By</div>
                <div class="close"></div>
            </div>
            <div class="body">

                <div class="form-group">
                    <label>Venue</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var venue in Model.AvailableVenues)
                        {
                            <label>
                                <input type="checkbox" name="Venues" value="@venue.Id" @(Model.Venues.Contains(venue.Id) ?
                                                                                                                       "checked" : "")>
                                <div>
                                    <div class="text">@venue.Name</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group" data-form-group-store>
                    <label>Price</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var price in Model.AvailablePrices)
                        {
                            <label>
                                <input type="radio" name="Price" value="@price.Key" @(Model.Price == price.Key ? "checked" :
                                                                                                                    "")>
                                <div>
                                    <div class="text">@price.Value</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label>Rating</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var rating in Model.AvailableRatings)
                        {
                            <label>
                                <input type="radio" name="Rating" value="@rating.Key" @(Model.Rating == rating.Key ?
                                                                                                                      "checked" : "")>
                                <div>
                                    <div class="text">@rating.Value</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group" data-form-group-store>
                    <label>Sort By</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var sortOption in Model.AvailableItemSortBy)
                        {
                            <label>
                                <input type="radio" name="Sort" value="@sortOption.Key" @(Model.Sort == sortOption.Key ?
                                                                                                                          "checked" : "")>
                                <div>
                                    <div class="text">@sortOption.Value</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group" data-form-group-item>
                    <label>Sort By</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var sortOption in Model.AvailableStoreSortBy)
                        {
                            <label>
                                <input type="radio" name="Sort" value="@sortOption.Key" @(Model.Sort == sortOption.Key ?
                                                                                                                          "checked" : "")>
                                <div>
                                    <div class="text">@sortOption.Value</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group" data-form-group-store>
                    <label>Category</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        @foreach (var category in Model.AvailableCategories)
                        {
                            <label>
                                <input type="checkbox" name="Categories" value="@category.Id"
                                    @(Model.Categories.Contains(category.Id) ? "checked" : "")>
                                <div>
                                    <div class="text">@category.Name</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group"></div>
            </div>

            <div class="button-group">
                <button type="button" data-button="accent" data-clear-form>Reset</button>
                <button type="submit" data-button>Apply</button>
            </div>
        </div>
    </div>

    <div class="custom-tick-container">
        @foreach (var type in Model.AvailableTypes)
        {
            <label>
                <input type="radio" name="Type" value="@type" data-clear-form-ignore data-auto-submit="clear" @(Model.Type
                                                                                                                              == type ? "checked" : "")>
                <div>
                    <div class="text">@type</div>
                </div>
            </label>
        }
    </div>

    <button type="button" id="filter-button">
        Filter
        <img src="/img/filter.png">
    </button>
</form>

<div id="ajax-result-container">
    <partial name="_SearchResults" model="Model" />
</div>

@section foot {
    <script>
        $("header form.search-container").on("submit", function (e) {
            e.preventDefault()

            const $form = $("main form")
            $form.find(`input[name="Query"]`).val($(this).find("input").val())

            $form.submit()
        })

        function checkRedirect(xhr) {
            if (!xhr) return

            try {
                var redirectUrl = xhr.getResponseHeader("X-Redirect-Url")
                if (redirectUrl) {
                    window.location.href = redirectUrl
                }
            } catch (e) {}
        }
    </script>
}