@model OrderSlotVM

<div class="container custom-tick-container grid center-items center-text bold-text" data-specified-width
    data-no="padding color">
    @foreach (var date in Model.AvailableDates)
    {
        var dateTime = new DateTime(date.Year, date.Month, date.Day, 0, 0, 0);

        <label>
            <input type="radio" name="Date" value="@date.ToString("yyyy-MM-dd")" @(Model.Date?.ToString("yyyy-MM-dd") ==
                                                                                             date.ToString("yyyy-MM-dd") ? "checked" : "") data-auto-submit>
            <div>
                <div class="text">@FormatService.ToDateTimeFormat(dateTime, "ddd")</div>
                <div class="description">@FormatService.ToDateTimeFormat(dateTime, "MMM dd")</div>
            </div>
        </label>
    }
</div>

<div class="container divider" data-orientation="horizontal" data-no="padding"></div>

<div class="container" data-no="padding color">
    <div class="listing-container custom-tick-container center-text" data-result-container>
        @foreach (var slot in Model.AvailableSlots)
        {
            var card = new SlotCardDM
            {
                Text = @FormatService.ToDateTimeFormat(DateTime.Today.Add(slot.ToTimeSpan()), "hh:mm tt"),
                Value = slot,
                IsDisabled = !Model.EnabledSlots.Contains(slot),
                IsChecked = slot == Model.Slot
            };

            <partial name="_SlotCard" model="@card" />
        }
    </div>

    <partial name="_NoResults" model="@("No slots found")" />
</div>