@model Order

@{
    var stepData = new StepContainerDM
    {
        CurrentStep = 3,
        Title = "Confirm Order"
    };

    var summary = new SummaryContainerDM
    {
        TotalPrice = ViewBag.TotalPrice,
        TotalItems = ViewBag.TotalItems,
        ExitLink = $"/Order/Slot/{Model.Id}",
        SubmitText = "Pay",
    };
}

@section head {
    <style>
    </style>
}

<partial name="_StepContainer" model="stepData" />

<div class="container" data-limit-container>
    <div class="title">Customer Details</div>

    <div data-column-container="3">
        <div>Name</div>
        <div>:</div>
        <div>@Model.Name</div>

        <div>Contact Number</div>
        <div>:</div>
        <div>@Model.PhoneNumber</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Pickup Details</div>

    <div data-column-container="3">
        <div>Date</div>
        <div>:</div>
        <div>@FormatHelper.ToDateTimeFormat(Model.Slot.StartTime, "dd MMM yyyy (ddd)")</div>

        <div>Time</div>
        <div>:</div>
        <div>@FormatHelper.ToDateTimeFormat(Model.Slot.StartTime, "h:mm tt") -
            @FormatHelper.ToDateTimeFormat(Model.Slot.EndTime, "h:mm tt")</div>

        <div>Venue</div>
        <div>:</div>
        <div>@Model.Store.Venue.Name</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">
        Items Ordered
    </div>

    <div class="container" data-no="padding margin" data-flex="column gap">
        @foreach (var item in Model.OrderItems)
        {
            var card = new OrderItemCardDM
            {
                Id = item.VariantId,
                Name = item.Variant.Item.Name,
                Variant = item.Variant.Name,
                Quantity = item.Quantity,
                Subtotal = item.Price * item.Quantity,
                Image = item.Variant.Image,
                Link = null
            };
            <partial name="_OrderItemCard" model="@card" />
        }
    </div>
</div>

<form method="post" data-expired-timestamp="@ViewBag.ExpiredTimestamp" data-sticky-bottom>
    <partial name="_SummaryContainer" model="summary" />
</form>