@model ManageSlotVM

@if (Model.Type == "Custom" || Model.Type == "Live")
{
    <div class="container custom-tick-container grid center-items center-text bold-text" data-specified-width
        data-no="padding color">
        @foreach (var date in Model.AvailableDates)
        {
            var dateTime = new DateTime(date.Year, date.Month, date.Day, 0, 0, 0);

            <label>
                <input type="radio" name="Date" value="@date.ToString("yyyy-MM-dd")" @(Model.Date?.ToString("yyyy-MM-dd") ==
                                                                                                 date.ToString("yyyy-MM-dd") ? "checked" : "") data-auto-submit>
                <div>
                    <div class="text">@FormatHelper.ToDateTimeFormat(dateTime, "ddd")</div>
                    <div class="description">@FormatHelper.ToDateTimeFormat(dateTime, "MMM dd")</div>
                </div>
            </label>
        }
    </div>
}
else
{
    <div class="container custom-tick-container center-items center-text" data-no="padding color">
        @foreach (var day in Model.AvailableDays)
        {
            <label>
                <input type="radio" value="@day.Key" asp-for="Day" data-auto-submit>
                <div>
                    <div class="text">@day.Value</div>
                </div>
            </label>
        }
    </div>
}

<div class="container divider" data-orientation="horizontal" data-no="padding"></div>

<div class="container" data-no="padding color">
    <div class="listing-container custom-tick-container center-text" data-result-container>
        @foreach (var slot in Model.AvailableSlots)
        {
            var card = new SlotCardDM
            {
                Text = FormatHelper.ToDateTimeFormat(DateTime.Today.Add(slot.ToTimeSpan()), "hh:mm tt"),
                Value = slot,
                IsChecked = Model.Slots.Contains(slot),
                IsManage = true,
                ReadOnly = Model.Type == "Live"
            };

            <partial name="_SlotCard" model="@card" />
        }
    </div>

    <partial name="_NoResults" model="@("No slots found")" />
</div>


@if (Model.Type != "Live")
{
    <div class="container divider" data-orientation="horizontal" data-no="padding"></div>

    <div class="container" data-no="padding color">
        <div class="button-group" data-flex="wrap">
            <button id="enable-all" type="button" data-button="info">Enable All</button>
            <button id="disable-all" type="button" data-button="danger">Disable All</button>

            @if (Model.Type == "Custom")
            {
                <button id="use-recurring" data-button="accent">Use Recurring</button>
            }

            <button type="button" id="save-slots-button" data-button="success">Save Changes</button>
        </div>
    </div>
}