@model EditStoreVM

@section head {
    <style>
        #image-preview-container,
        #banner-image-preview-container {
            position: relative;
            overflow: hidden;
            margin-bottom: 0.75rem;
            width: 90%;
            max-width: 12.5rem;
            aspect-ratio: 1/1;
        }

        #banner-image-preview-container {
            aspect-ratio: 3/1;
            width: 100%;
            max-width: 30rem;
        }

        #image-preview-container:not(:has(img[src])),
        #banner-image-preview-container:not(:has(img[src])) {
            display: none;
        }

        #image-preview,
        #banner-image-preview {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #image-preview.horizontal-fit,
        #banner-image-preview.horizontal-fit {
            width: 100%;
            object-fit: contain;
        }

        #image-preview.vertical-fit,
        #banner-image-preview.vertical-fit {
            height: 100%;
            object-fit: contain;
        }

        #stripe-show-button {
            width: 1.25rem !important;
            height: 1.25rem !important;
            background-image: url(/img/eye.png);
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            appearance: none;
            margin: 0 !important;
            margin-right: 0.4rem !important;
            padding: 0 !important;
            cursor: pointer !important;
            transition: all 0.3s ease;
        }

        #stripe-show-button:hover {
            filter: brightness(2);
        }

        #stripe-show-button-loader {
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("/img/loading.gif");
            background-size: 190%;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 0.4rem;
        }
    </style>
}

<form class="container" data-limit-container enctype="multipart/form-data" method="post">
    <input asp-for="Id" hidden />
    <input asp-for="StripeAccountId" hidden />

    <div class="title">Store Details</div>
    <div data-column-container="3">
        <div>Id</div>
        <div>:</div>
        <div>@Model.Id</div>

        <label asp-for="Name"></label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input asp-for="Name">
            </div>
            <span asp-validation-for="Name"></span>
        </div>

        <label asp-for="Slug"></label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input asp-for="Slug" data-clean>
            </div>
            <span asp-validation-for="Slug"></span>
        </div>

        <label asp-for="Description"></label>
        <div>:</div>
        <div class="form-group">
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <label asp-for="SlotMaxOrders"></label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input asp-for="SlotMaxOrders">
            </div>
            <span asp-validation-for="SlotMaxOrders"></span>
        </div>

        <label asp-for="Venue"></label>
        <div>:</div>
        <div class="form-group">
            <div class="input-group">
                <div class="custom-select">
                    <select asp-for="Venue" asp-items="Model.AvailableVenues"></select>
                </div>
            </div>
            <span asp-validation-for="Venue"></span>
        </div>

        <label asp-for="Image"></label>
        <div>:</div>
        <div class="form-group">
            <input type="file" id="image-file" asp-for="Image" accept="image/jpeg, image/png" hidden />
            <input id="image-x" asp-for="ImageX" hidden>
            <input id="image-y" asp-for="ImageY" hidden>
            <input id="image-scale" asp-for="ImageScale" hidden>
            <input id="change-image-checkbox" name="change-image-checkbox" type="checkbox" hidden>

            <div id="image-preview-container">
                <img id="image-preview" src="/uploads/item/@ViewBag.ImageUrl" class="vertical-fit" />
            </div>

            <div class="form-group">
                <span asp-validation-for="Image"></span>
            </div>

            <div class="button-group" data-flex="wrap">
                <button type="button" id="upload-image-button" data-button="accent">Upload</button>
                <button type="button" id="reset-image-button" data-button="info" disabled>Reset</button>
            </div>
        </div>

        <label asp-for="BannerImage"></label>
        <div>:</div>
        <div class="form-group">
            <input type="file" id="banner-image-file" asp-for="BannerImage" accept="image/jpeg, image/png" hidden />
            <input id="banner-remove-image-checkbox" asp-for="BannerRemoveImage" hidden />
            <input id="banner-image-x" asp-for="BannerImageX" hidden>
            <input id="banner-image-y" asp-for="BannerImageY" hidden>
            <input id="banner-image-scale" asp-for="BannerImageScale" hidden>
            <input id="banner-change-image-checkbox" name="banner-change-image-checkbox" type="checkbox" hidden>

            <div id="banner-image-preview-container">
                <img id="banner-image-preview" class="vertical-fit" @(ViewBag.BannerImageUrl == null ? "" :
                                                                                        $"src=/uploads/banner/{ViewBag.BannerImageUrl}") />
            </div>

            <div class="form-group">
                <span asp-validation-for="BannerImage"></span>
            </div>

            <div class="button-group" data-flex="wrap">
                <button type="button" id="upload-banner-image-button" data-button="accent">Upload</button>
                <button type="button" id="remove-banner-image-button" data-button="danger" @(ViewBag.BannerImageUrl ==
                                                                                                               null ? "disabled" : "")>Remove</button>
                <button type="button" id="reset-banner-image-button" data-button="info" disabled>Reset</button>
            </div>
        </div>

        <div>Stripe</div>
        <div>:</div>
        @if (String.IsNullOrEmpty(Model.StripeAccountId))
        {
            <div>You haven't connected your Stripe account yet.</div>
        }
        else
        {
            <div class="form-group">
                <div class="input-group">
                    <div class="form-input">
                        <input type="password" value="@Model.StripeAccountId" readonly />

                        <a data-ajax="true" data-ajax-loading="#stripe-show-button-loader"
                            data-ajax-url="/Store/GetStripeAccountEmail/@Model.Id" data-ajax-begin="showStripeBegin"
                            data-ajax-success="showStripeSuccess" data-ajax-failure="showStripeFailed"
                            id="stripe-show-button"></a>

                        <div id="stripe-show-button-loader" style="display: none;"></div>
                    </div>
                </div>
            </div>
        }

    </div>

    <button data-enable-on-change data-button="success" disabled>Save Changes</button>
</form>

<div class="container" data-limit-container>
    <div class="title">Action</div>
    <div class="button-group" data-flex="inline column">
        <a data-button="danger" data-ajax="true" data-ajax-url="@Url.Action("LogoutAllDevices", new { id = Model.Id })"
            data-ajax-method="POST" data-ajax-failure="defaultOnFailure" data-ajax-success="reloadPage"
            data-ajax-confirm="Are you sure you want to delete this item?">Delete Store</a>
        <a data-button="info" href="/Store/Slots/@Model.Id">Manage Slots</a>
        <a data-button="accent" href="/Store/ConnectStripe/@Model.Id">@(Model.StripeAccountId == null ? "Connect Stripe" : "Reconnect Stripe")</a>
    </div>
</div>

<div id="upload-overlay" class="overlay upload-overlay">
    <div class="content">
        <div class="header">
            <div class="title">Upload Image</div>
            <div class="close"></div>
        </div>
        <div class="body">
            <div class="upload-drop-zone" class="show">
                <div>Drag and drop your image here or click to select</div>
            </div>
            <div class="upload-preview-zone">
                <div class="upload-preview-container" class="show">
                    <img class="upload-preview-image" draggable="false" />
                </div>
                <input type="range" class="zoom-slider" min="1" max="2" step="0.01" />
                <button class="confirm-upload" data-button="yellow">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="banner-upload-overlay" class="overlay upload-overlay">
    <div class="content">
        <div class="header">
            <div class="title">Upload Image</div>
            <div class="close"></div>
        </div>
        <div class="body">
            <div class="upload-drop-zone" class="show">
                <div>Drag and drop your image here or click to select</div>
            </div>
            <div class="upload-preview-zone">
                <div class="upload-preview-container" class="show">
                    <img class="upload-preview-image" draggable="false" />
                </div>
                <input type="range" class="zoom-slider" min="1" max="2" step="0.01" />
                <button class="confirm-upload" data-button="yellow">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section foot {
    <script>
        function showStripeBegin() {
            $(this).hide()
        }

        function showStripeSuccess(data) {
            const $input = $(this).prev()
            $input.val(data)
            $input.prop("type", "text")
        }

        function showStripeFailed(...args) {
            defaultOnFailure(...args)
            $(this).show()
        }

        const originalSrc = $("#image-preview").attr("src")
        const uploadOverlay = new UploadOverlay("#image-file")

        $("#upload-image-button").on("click", async function () {
            const uploadResult = await uploadOverlay.open()
            if (uploadResult) {
                if (uploadResult.horizontalFit) {
                    $("#image-preview").addClass("horizontal-fit")
                    $("#image-preview").removeClass("vertical-fit")
                } else {
                    $("#image-preview").addClass("vertical-fit")
                    $("#image-preview").removeClass("horizontal-fit")
                }

                $("#image-preview").attr("src", uploadResult.src)
                $("#image-x").val(uploadResult.imgX)
                $("#image-y").val(uploadResult.imgY)
                $("#image-scale").val(uploadResult.scale)
                updateImagePreview("#image-preview", $("#image-x").val(), $("#image-y").val(), $("#image-scale").val())

                $("#change-image-checkbox").prop("checked", true).trigger("change")
                $("#reset-image-button").prop("disabled", false)
            }
        })

        $("#reset-image-button").on("click", async function () {
            $("#image-file").val("") // remove file input value

            $("#image-x").val(0)
            $("#image-y").val(0)
            $("#image-scale").val(1)
            updateImagePreview("#image-preview", $("#image-x").val(), $("#image-y").val(), $("#image-scale").val())

            $("#image-preview").attr("src", originalSrc)
            $("#image-preview").addClass("vertical-fit")
            $("#image-preview").removeClass("horizontal-fit")

            $("#reset-image-button").prop("disabled", true)
            $("#change-image-checkbox").prop("checked", false).trigger("change")
        })

        const originalBannerSrc = $("#banner-image-preview").attr("src")
        const noBannerImage = originalBannerSrc == null
        const bannerUploadOverlay = new UploadOverlay("#banner-image-file", 3, 1, "#banner-upload-overlay")

        $("#upload-banner-image-button").on("click", async function () {
            const uploadResult = await bannerUploadOverlay.open()
            if (uploadResult) {
                if (uploadResult.horizontalFit) {
                    $("#banner-image-preview").addClass("horizontal-fit")
                    $("#banner-image-preview").removeClass("vertical-fit")
                } else {
                    $("#banner-image-preview").addClass("vertical-fit")
                    $("#banner-image-preview").removeClass("horizontal-fit")
                }

                $("#banner-image-preview").attr("src", uploadResult.src)
                $("#banner-image-x").val(uploadResult.imgX)
                $("#banner-image-y").val(uploadResult.imgY)
                $("#banner-image-scale").val(uploadResult.scale)
                updateImagePreview("#banner-image-preview", $("#banner-image-x").val(), $("#banner-image-y").val(), $("#banner-image-scale").val())

                $("#banner-change-image-checkbox").prop("checked", true).trigger("change")
                $("#banner-remove-image-checkbox").prop("checked", false).trigger("change")
                $("#remove-banner-image-button").prop("disabled", false)
                $("#reset-banner-image-button").prop("disabled", false)
            }
        })

        $("#reset-banner-image-button").on("click", async function () {
            $("#banner-image-file").val("") // remove file input value

            $("#banner-image-x").val(0)
            $("#banner-image-y").val(0)
            $("#banner-image-scale").val(1)
            updateImagePreview("#banner-image-preview", $("#banner-image-x").val(), $("#banner-image-y").val(), $("#banner-image-scale").val())

            $("#banner-image-preview").attr("src", originalBannerSrc)
            $("#banner-image-preview").addClass("vertical-fit")
            $("#banner-image-preview").removeClass("horizontal-fit")

            $("#banner-change-image-checkbox").prop("checked", false).trigger("change")
            $("#banner-remove-image-checkbox").prop("checked", false).trigger("change")
            $("#remove-banner-image-button").prop("disabled", noBannerImage)
            $("#reset-banner-image-button").prop("disabled", true)
        })

        $("#remove-banner-image-button").on("click", async function () {
            if (await confirmation("Are you sure you want to remove this banner image?", "Yes")) {
                $("#banner-change-image-checkbox").prop("checked", false).trigger("change")
                $("#banner-remove-image-checkbox").prop("checked", !noBannerImage).trigger("change")
                $("#remove-banner-image-button").prop("disabled", true)
                $("#reset-banner-image-button").prop("disabled", noBannerImage)

                $("#banner-image-preview").css("transform", "")
                $("#banner-image-preview").addClass("vertical-fit")
                $("#banner-image-preview").removeClass("horizontal-fit")
                $("#banner-image-preview").removeAttr("src")
            }
        })
    </script>
}