@model StoreReportVM

@{
    ViewBag.Title = "Store Report | Superchef";
}

@section head {
    <style>
        .sales-container {
            position: relative;
        }

        .sales-container .title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .sales-container table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            background-color: var(--bg-manage-table);
            border: 1px solid var(--border-primary);
            overflow-x: auto;
        }

        .sales-container th,
        .sales-container td {
            padding: 0.75rem 1rem;
            text-align: left;
            white-space: nowrap;
        }

        .sales-container tr th:first-child {
            position: sticky;
            left: 0;
            white-space: normal;
            overflow-wrap: break-word;
            width: clamp(12rem, 30vw, 20rem);
            min-width: min(30vw, 10rem);
        }

        .sales-container th {
            background-color: var(--bg-manage-table-th);
            color: var(--text-inverse);
            font-weight: normal;
            padding-right: 1.2rem;
        }

        .sales-container tr td {
            border-bottom: 1px solid var(--border-primary);
            white-space: nowrap;
        }

        .sales-container tr:last-child td {
            border-bottom: none;
        }

        .sales-container button {
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            padding: 0;
            background-color: transparent;
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("/img/download.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .sales-container button:hover {
            filter: brightness(3);
        }

        @@media (max-width: 400px) {
            .sales-container .form-group {
                width: 100%;
            }

            .sales-container .form-input {
                display: flex;
                flex-direction: column;
            }
        }

        #no-results {
            display: flex !important;
        }
    </style>
}

<form class="container sales-container" data-flex="column center" data-ajax="true"
    data-ajax-url="@Url.Action("DailySalesSummary")" data-ajax-update="#daily-sales-result-container">
    <input type="hidden" asp-for="dailySalesSummary.Id" name="Id">

    <div class="title">Daily Sales Summary</div>

    <div class="form-group">
        <div class="form-input">
            <input name="Date" asp-for="dailySalesSummary.Date" data-auto-submit>
        </div>
    </div>

    <div id="daily-sales-result-container" class="container" data-no="padding color margin" data-overflow>
        <partial name="_DailySalesSummary" model="Model.dailySalesSummary" />
    </div>
</form>

<form class="container sales-container" data-flex="column center" data-ajax="true"
    data-ajax-url="@Url.Action("SalesReport")" data-ajax-update="#sales-report-result-container">
    <input type="hidden" asp-for="salesReport.Id" name="Id">

    <div class="title">Sales Report</div>

    <div class="form-group">
        <div class="custom-tick-container center-items">
            @foreach (var type in Model.salesReport.AvailableTypes)
            {
                <label>
                    <input type="radio" name="Type" asp-for="salesReport.Type" value="@type" data-auto-submit>
                    <div class="text">@type</div>
                </label>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="form-input">
            <input name="DateFrom" asp-for="salesReport.DateFrom" data-auto-submit>
            <span>to</span>
            <input name="DateTo" asp-for="salesReport.DateTo" data-auto-submit>
        </div>
    </div>

    <div id="sales-report-result-container" class="container" data-no="color padding" data-overflow>
        <partial name="_SalesReport" model="Model.salesReport" />
    </div>
</form>

<form class="container sales-container" data-flex="column center" data-ajax="true"
    data-ajax-url="@Url.Action("SalesByItems")" data-ajax-update="#sales-by-items-result-container">
    <input type="hidden" asp-for="salesByItems.Id" name="Id">

    <div class="title">Sales By Items</div>

    <div class="form-group">
        <div class="custom-tick-container center-items">
            @foreach (var type in Model.salesByItems.AvailableTypes)
            {
                <label>
                    <input name="Type" type="radio" asp-for="salesByItems.Type" value="@type" data-auto-submit>
                    <div class="text">@type</div>
                </label>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="form-input">
            <input name="DateFrom" asp-for="salesByItems.DateFrom" data-auto-submit>
            <span>to</span>
            <input name="DateTo" asp-for="salesByItems.DateTo" data-auto-submit>
        </div>
    </div>

    <div id="sales-by-items-result-container" class="container" data-no="padding color" data-overflow>
        <partial name="_SalesByItems" model="Model.salesByItems" />
    </div>
</form>

@section foot {
    <script>
        $(document).on("click", ".sales-container button", tableToCSV)

        function tableToCSV() {
            const $table = $(this).closest("table")

            let csv_data = [];
            let rows = $table.find("tr");

            rows.each(function (i, row) {
                const cols = $(row).find("td,th");
                const csvrow = [];

                cols.each(function (j, col) {
                    let text = col.innerText;
                    text = text.replace(/"/g, '""');
                    csvrow.push(`"${text}"`);
                })

                csv_data.push(csvrow.join(","));
            })

            const title = $(this).closest(".sales-container").find(".title").text()

            downloadCSVFile(csv_data.join("\n"), `${title}_${Date.now()}`)
        }

        function downloadCSVFile(csv_data, name = "Unknown") {

            // Create CSV file object and feed csv_data into it
            CSVFile = new Blob([csv_data], {
                type: "text/csv"
            });

            // Create to temporary link to initiate download process
            let temp_link = document.createElement('a');

            // Download csv file
            temp_link.download = `${name}.csv`;
            let url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;

            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);

            // Automatically click the link to trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }
    </script>
}