@model ManageSlotVM

@{
    ViewBag.Title = "Manage Slots | Superchef";
}

<form data-ajax="true" data-ajax-update="#ajax-result-container" data-ajax-failure="defaultOnFailure">
    <div class="container" data-limit-container>
        <div class="title">Manage Slots - @ViewBag.StoreName</div>

        <div class="custom-tick-container center-text">
            @foreach (var type in Model.AvailableTypes)
            {
                <label>
                    <input type="radio" value="@type" asp-for="Type" data-auto-submit>
                    <div>
                        <div class="text">@type</div>
                    </div>
                </label>
            }
        </div>
    </div>

    <div id="ajax-result-container" class="container" data-limit-container>
        <partial name="_Slots" model="@Model" />
    </div>
</form>

@section foot {
    <script>
        $(document).on("click", "#enable-all", function () {
            $("input[name='Slots']").each(function () {
                $(this).prop("checked", "true")
            })
        })

        $(document).on("click", "#disable-all", function () {
            $("input[name='Slots']").each(function () {
                $(this).prop("checked", "")
            })
        })

        function hi() {
            console.log("hi")
        }

        $(document).on("click", "#use-recurring", function (e) {
            e.preventDefault()
            e.stopPropagation()

            const selectedDate = $("input[name='Date']:checked").val()

            $.ajax({
                url: '@Url.Action("GetRecurringSlots", new { id = Model.Id })',
                data: { date: selectedDate },
                success: function (data) {
                    $("input[name='Slots']").each(function () {
                        const input = $(this)
                        input.prop("checked", data.includes(input.val()) ? "true" : "")
                    })
                },
                error: defaultOnFailure
            })

        })

        $(document).on("click", "#save-slots-button", async function () {
            const formData = $(this).closest("form").serialize()

            $.ajax({
                url: '@Url.Action("Slots", new { id = Model.Id })',
                type: 'POST',
                data: formData,
                success: function (data) {
                    showToast("Slots saved successfully")
                },
                error: defaultOnFailure
            })
        })
    </script>
}