@model CardItemContainerDM

<div class="container cart-item-container">
    <input type="checkbox" value="@Model.Id" name="SelectedItems" id="cart-item-checkbox-@Model.Id">

    <label for="cart-item-checkbox-@Model.Id">
        <img src="@Model.Image" alt="Item Image">
    </label>

    <div class="info">
        <a href="/Item/Info/@Model.Slug" class="item">@Model.ItemName</a>
        <div class="variant">@Model.VariantName</div>
    </div>

    <div class="price">@FormatService.ToRMFormat(Model.Price, false)</div>

    <div class="quantity form-group">
        <div class="form-input">
            <button type="button" data-quantity-button="minus">&#8203;</button>
            <input data-no-negative type="number" min="1" max="10" step="1" value="@Model.Quantity">
            <button type="button" data-quantity-button="add"></button>
        </div>
        <span class="error @(Model.Error != null ? "field-validation-error" : "")">
            <span>@Model.Error</span>
        </span>
    </div>

    <a class="delete-button" href="@Url.Action("RemoveItem", new { id = Model.Id })" data-ajax="true"
        data-ajax-method="post" data-ajax-success="reloadPage" data-ajax-failure="defaultOnFailure"></a>
</div>