@model ManageVariantVM

@using Superchef.Services
@inject GenerateLinkService GenerateLinkService

<div class="container" data-manage-container="table" data-responsive-container>
    <table>
        <thead>
            <tr>
                @foreach (var f in ViewBag.Fields)
                {
                    var url = GenerateLinkService.GetSortLink(
                    action: "Manage",
                    controller: "Item",
                    field: f,
                    currentSort: Model.Sort,
                    currentDir: Model.Dir
                    );

                    <th class="@Model.Dir @(f == Model.Sort ? "selected" : "")">
                        <a data-ajax="true" data-ajax-url="@url" data-ajax-update="#ajax-result-container">@f</a>
                    </th>
                }
                <th>Action</th>
            </tr>
        </thead>

        <tbody data-result-container>
            @foreach (var variant in Model.Results)
            {
                <tr>
                    <td>@variant.Id</td>
                    <td>@variant.Name</td>
                    <td>@FormatService.ToRMFormat(variant.Price)</td>
                    <td>
                        <div class="status-text-container @FormatService.ToStatusClassFormat(variant.Status)">@variant.Status</div>
                    </td>
                    <td>@variant.Stock</td>
                    <td>@FormatService.ToDateTimeFormat(variant.CreatedAt, "dd MMM yyyy")</td>
                    <td>
                        <div class="button-group" data-flex="inline">
                            <a href="/Variant/Edit/@variant.Id" data-button="accent">Edit</a>
                            <a data-ajax="true" data-ajax-url="@Url.Action("Delete", new { Id = variant.Id })"
                                data-ajax-method="POST" data-ajax-failure="defaultOnFailure" data-ajax-success="reloadPage"
                                data-ajax-confirm="Are you sure you want to delete this variant?"
                                data-button="danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_NoResults" model="null" />
</div>

@Html.PagedListPager(Model.Results,
page => GenerateLinkService.GetPageLink("Index", "Search", page.ToString()),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ManagePageService.GetPagedOption(),
ManagePageService.GetAjaxOption())
)