@model AdminHomePageVM

@{
    ViewBag.Title = "Home | Superchef";
}

@section head {
    <style>
        main>.container {
            display: grid;
            grid-template-rows: repeat(3, max-content);
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            grid-template-areas:
                "sales orders customers"
                "performance performance devices"
                "activity activity activity"
            ;
        }

        main>.container>.container {
            height: 100%;
            border: 1px solid var(--border-primary);
        }

        .sales-container {
            grid-area: sales;
        }

        .orders-container {
            grid-area: orders;
        }

        .customers-container {
            grid-area: customers;
        }

        .performance-container {
            grid-area: performance;
        }

        .devices-container {
            grid-area: devices;
        }

        .activity-container {
            grid-area: activity;
        }

        .stat-container {
            display: grid;
            grid-template-rows: auto auto 1fr auto;
            grid-template-areas:
                "title"
                "value"
                "."
                "trend";
        }

        .stat-container .title {
            grid-area: title;
        }

        .stat-container .value {
            grid-area: value;
            font-size: 2rem;
            font-family: var(--font-display);
            font-weight: bold;
            color: var(--color-primary);
        }

        .stat-container .trend {
            grid-area: trend;
            color: var(--status-success-text);
            margin-top: 1rem;
        }

        .stat-container .trend::before {
            content: "▲ ";
        }

        .stat-container .trend.down {
            color: var(--status-error-text);
        }

        .stat-container .trend.down::before {
            content: "▼ ";
        }

        canvas {
            width: 100% !important;
            height: unset !important;
            max-height: unset !important;
        }

        .log-item {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            grid-template-areas:
                "icon name time"
                "icon details time";
            column-gap: 1rem;
            padding: 1rem;
            background-color: var(--bg-card);
            align-items: center;
            width: 100%;
        }

        .log-item h4 {
            grid-area: name;
            margin: 0;
            font-family: var(--font-primary);
            font-size: 1rem;
        }

        .log-item p {
            grid-area: details;
            margin: 0.2rem 0;
            color: var(--text-secondary);
            font-size: 0.9rem;
        }

        .log-item span {
            grid-area: time;
            margin: 0.2rem 0;
            color: var(--text-secondary);
            font-size: 0.95rem;
        }

        .log-item .icon {
            grid-area: icon;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: var(--bg-pure);
            display: grid;
            place-items: center;
            font-size: 1.2rem;
        }

        @@media (max-width: 900px) {
            main>.container {
                grid-template-rows: repeat(5, max-content);
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "sales devices"
                    "orders devices"
                    "customers devices"
                    "performance performance"
                    "activity activity"
                ;
            }

        }

        @@media (max-width: 600px) {
            main>.container {
                grid-template-rows: repeat(6, max-content);
                grid-template-columns: 1fr;
                grid-template-areas:
                    "sales"
                    "orders"
                    "customers"
                    "devices"
                    "performance"
                    "activity"
                ;
            }

            canvas {
                max-height: 40vh !important;
                max-height: 40dvh !important;
            }
        }
    </style>
}

<div class="container" data-no="padding color">
    <div class="container stat-container sales-container" data-no="margin">
        <div class="title normal" data-no="margin">Total Sales (@Model.DisplayMonth)</div>
        <div class="value">@FormatHelper.ToRMFormat(Model.TotalSales)</div>
        <div class="trend @(Model.TotalSalesStat < 0 ? "down" : "")">
            @FormatHelper.ToPercentage(Math.Abs(Model.TotalSalesStat)) vs last month
        </div>
    </div>

    <div class="container stat-container orders-container" data-no="margin">
        <div class="title normal" data-no="margin">Completed Orders (@Model.DisplayMonth)</div>
        <div class="value">@Model.TotalOrders</div>
        <div class="trend @(Model.TotalOrdersStat < 0 ? "down" : "")">
            @FormatHelper.ToPercentage(Math.Abs(Model.TotalOrdersStat)) vs last month</div>
    </div>

    <div class="container stat-container customers-container" data-no="margin">
        <div class="title normal" data-no="margin">New Customers (@Model.DisplayMonth)</div>
        <div class="value">@Model.TotalCustomers</div>
        <div class="trend @(Model.TotalCustomersStat < 0 ? "down" : "")">
            @FormatHelper.ToPercentage(Math.Abs(Model.TotalCustomersStat)) vs last month</div>
    </div>

    <div class="container performance-container" data-no="margin">
        <div class="title">Sales Performance (5 Months)</div>
        <canvas id="order-frequency"></canvas>
    </div>

    <div class="container devices-container" data-no="margin">
        <div class="title">Login Devices</div>
        <canvas id="login-devices"></canvas>
    </div>

    <div class="container activity-container" data-no="margin overflow">
        <div class="title">Activity Log</div>

        <div id="ajax-result-container" class="container" data-no="padding color margin">
            <partial name="_Admin" model="@Model" />
        </div>

        <partial name="_NoResults" model="@("No activity log found")" />
    </div>
</div>

@section foot {
    <script src="/js/chart.min.js"></script>
    <script>
        // Line Graph
        new Chart($("#order-frequency")[0].getContext("2d"), {
            type: "line",
            data: {
                labels: Array.from(@Html.Raw(Json.Serialize(Model.SalesPerformanceMonths))),
                datasets: [
                    {
                        label: " Orders",
                        data: Array.from(@Html.Raw(Json.Serialize(Model.SalesPerformanceOrders))),
                        borderColor: "#a38576",
                        borderWidth: 3,
                        tension: 0.35,
                        fill: false,
                        pointBackgroundColor: "#fff",
                        pointBorderColor: "#a38576",
                        pointRadius: 4
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    y: {
                        type: "linear",
                        beginAtZero: true,
                        title: { display: true, text: "Orders", color: "black" },
                        ticks: { color: "black" },
                        grid: { color: "#cccccc" }
                    },
                    x: {
                        ticks: { color: "black" },
                        grid: { color: "#cccccc" }
                    }
                },
                plugins: { legend: { display: false } }
            }
        });

        // Pie Chart
        new Chart($("#login-devices")[0].getContext("2d"), {
            type: "doughnut",
            data: {
                labels: Array.from(@Html.Raw(Json.Serialize(Model.LoginDevices))),
                datasets: [
                    {
                        label: " Login Count",
                        data: Array.from(@Html.Raw(Json.Serialize(Model.LoginDevicesCount))),
                        backgroundColor: ["#613c25", "#a38576", "#d6c9ba"],
                        borderWidth: 0
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            color: "black",
                            font: { family: '"Bahnschrift", sans-serif' }
                        }
                    }
                }
            }
        });
    </script>
}